layout {
    focus-ring {
        active-color "#325da8"
        inactive-color "#777777"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#325da8"
        inactive-color "#777777"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#325da8"
        inactive-color "#777777"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#325da880"
    }
}

