layout {
    focus-ring {
        active-color "#a8d473"
        inactive-color "#919191"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a8d473"
        inactive-color "#919191"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a8d473"
        inactive-color "#919191"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a8d47380"
    }
}

