// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

include "./gestures.kdl"
include "./input.kdl"
include "./output.kdl"
include "./layout.kdl"
include "./window-rules.kdl"
include "./layer-rules.kdl"
include "./binds.kdl"
include "./animations.kdl"
include "./misc.kdl"

workspace "Main"
workspace "Notes"
workspace "Web"
workspace "Code"
workspace "Chat"



// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
//spawn-at-startup "waybar"
spawn-at-startup "quickshell"
spawn-at-startup "swww-daemon"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"





blur {
    // off
    passes 3
    offset 3.0
    noise 0.02
    saturation 1.5
}

window-rule {
   background-effect {
      blur true
  }
}

// Override color values
// TODO: This will give an error if the file doesn't exist
include "./colors.kdl"
