
{# Conditionally darken/light based on pallete #}
{% if palette[:4] == "dark" %}
    $bg0: {{background | lighten(0.0)}};
    $bg1: {{background | lighten(0.2)}};
    $bg2: {{background | lighten(0.4)}};
    $bg3: {{background | lighten(0.6)}};

    $fgDim: {{foreground | darken(0.4)}};
    $fgAlt: {{foreground | darken(1)}};
{% else %}
    $bg0: {{background | darken(0.0)}};
    $bg1: {{background | darken(0.2)}};
    $bg2: {{background | darken(0.4)}};
    $bg3: {{background | darken(0.6)}};

    $fgDim: {{foreground | lighten(0.4)}};
    $fgAlt: {{foreground | lighten(1)}};
{% endif %}


$fg: {{foreground}};

$accent0: {{color1}};
$onAccent0: {{color1 | complementary}};

$accent1: {{color2}};
$onAccent1: {{color2 | complementary}};

$accent2: {{color3}};
$onAccent2: {{color3 | complementary}};

$accent3: {{color4}};
$onAccent3: {{color4 | complementary }};
