

$bg0: {{background | lighten(0.0)}};
{# Might need to conditionally darken/light based on pallete #}
$bg1: {{background | lighten(0.1)}};
$bg2: {{background | lighten(0.2)}};
$bg3: {{background | lighten(0.3)}};

$fg: {{foreground}};

$accent0: {{color1}};
$onAccent0: {{color1 | complementary}};
$accent0darker: {{color1 | darken(0.4)}};

$accent1: {{color2}};
$onAccent1: {{color2 | complementary}};
$accent2: {{color3}};
$accent3: {{color4}};
$accent3darker: {{color5 | darken(0.4)}};
