

$bg0: {{background | lighten(0.0)}};
{# Might need to conditionally darken/light based on pallete #}
$bg1: {{background | lighten(0.2)}};
$bg2: {{background | lighten(0.3)}};
$bg3: {{background | lighten(0.4)}};

$fg: {{foreground}};

$accent0: {{color2}};
$accent0darker: {{color2 | darken(0.4)}};

$accent1: {{color3}};
$accent2: {{color4}};
$accent3: {{color5}};
$accent3darker: {{color5 | darken(0.4)}};
