


    $bg0: #282828;
    $bg1: #535353;
    $bg2: #7E7E7E;
    $bg3: #A9A9A9;

    $fgDim: #8D836B;
    $fgAlt: #000000;



$fg: #EBDBB2;

$accent0: #CC241D;
$onAccent0: #1DC5CC;

$accent1: #98971A;
$onAccent1: #1A1B98;

$accent2: #D79921;
$onAccent2: #215FD7;

$accent3: #458588;
$onAccent3: #884845;
