


    $bg0: #D4D7D9;
    $bg1: #AAACAE;
    $bg2: #7F8182;
    $bg3: #555657;

    $fgDim: #6B719B;
    $fgAlt: #FFFFFF;



$fg: #091258;

$accent0: #D13AA0;
$onAccent0: #3AD16B;

$accent1: #CD3248;
$onAccent1: #32CDB7;

$accent2: #8439CB;
$onAccent2: #80CB39;

$accent3: #1053A7;
$onAccent3: #A76410;
