


    $bg0: #F8F8F8;
    $bg1: #F9F9F9;
    $bg2: #FBFBFB;
    $bg3: #FCFCFC;

    $fgDim: #222222;
    $fgAlt: #000000;



$fg: #383838;

$accent0: #AB4642;
$onAccent0: #42A7AB;

$accent1: #A1B56C;
$onAccent1: #806CB5;

$accent2: #F7CA88;
$onAccent2: #88B5F7;

$accent3: #7CAFC2;
$onAccent3: #C28F7C;
