


    $bg0: #090606;
    $bg1: #3A3838;
    $bg2: #6B6A6A;
    $bg3: #9D9B9B;

    $fgDim: #8F9191;
    $fgAlt: #000000;



$fg: #EEF2F2;

$accent0: #954B36;
$onAccent0: #368095;

$accent1: #248888;
$onAccent1: #882424;

$accent2: #488A9A;
$onAccent2: #9A5848;

$accent3: #EB642B;
$onAccent3: #2BB2EB;
