


    $bg0: #111111;
    $bg1: #414141;
    $bg2: #707070;
    $bg3: #A0A0A0;

    $fgDim: #7A7A7A;
    $fgAlt: #000000;



$fg: #CCCCCC;

$accent0: #E84F4F;
$onAccent0: #4FE8E8;

$accent1: #B7CE42;
$onAccent1: #5942CE;

$accent2: #FEA63C;
$onAccent2: #3C94FE;

$accent3: #66A9B9;
$onAccent3: #B97666;
