$source_color: #1a3a45;

$primary: #61dbb7;
$on_primary: #00382b;
$primary_container: #00513f;
$on_primary_container: #7ff8d2;
$inverse_primary: #006b54;
$primary_fixed: #7ff8d2;
$primary_fixed_dim: #61dbb7;
$on_primary_fixed: #002118;
$on_primary_fixed_variant: #00513f;
$secondary: #88d6bb;
$on_secondary: #00382b;
$secondary_container: #88d6bb;
$on_secondary_container: #a3f2d6;
$secondary_fixed: #a3f2d6;
$secondary_fixed_dim: #88d6bb;
$on_secondary_fixed: #002118;
$on_secondary_fixed_variant: #00513f;
$tertiary: #88d1ec;
$on_tertiary: #003543;
$tertiary_container: #004e61;
$on_tertiary_container: #b7eaff;
$tertiary_fixed: #b7eaff;
$tertiary_fixed_dim: #88d1ec;
$on_tertiary_fixed: #001f28;
$on_tertiary_fixed_variant: #004e61;
$error: #ffb4ab;
$on_error: #690005;
$error_container: #93000a;
$on_error_container: #ffdad6;
$surface_dim: #0a1519;
$surface: #0a1519;
$surface_bright: #303b40;
$surface_container_lowest: #051014;
$surface_container_low: #121d21;
$surface_container: #162125;
$surface_container_high: #212c30;
$surface_container_highest: #2b363b;
$on_surface: #d9e4ea;
$on_surface_variant: #b3cad4;
$outline: #7e949e;
$outline_variant: #344a52;
$inverse_surface: #d9e4ea;
$inverse_on_surface: #273237;
$surface_variant: #344a52;
$background: #0a1519;
$on_background: #d9e4ea;
$shadow: #000000;
$scrim: #000000;