$source_color: #276797;

$primary: #4cdadb;
$on_primary: #003737;
$primary_container: #004f50;
$on_primary_container: #6ff6f8;
$inverse_primary: #00696b;
$primary_fixed: #6ff6f8;
$primary_fixed_dim: #4cdadb;
$on_primary_fixed: #002020;
$on_primary_fixed_variant: #004f50;
$secondary: #80d4d5;
$on_secondary: #003737;
$secondary_container: #80d4d5;
$on_secondary_container: #9cf1f2;
$secondary_fixed: #9cf1f2;
$secondary_fixed_dim: #80d4d5;
$on_secondary_fixed: #002020;
$on_secondary_fixed_variant: #004f50;
$tertiary: #9bcbfa;
$on_tertiary: #003353;
$tertiary_container: #0d4a73;
$on_tertiary_container: #cee5ff;
$tertiary_fixed: #cee5ff;
$tertiary_fixed_dim: #9bcbfa;
$on_tertiary_fixed: #001d32;
$on_tertiary_fixed_variant: #0d4a73;
$error: #ffb4ab;
$on_error: #690005;
$error_container: #93000a;
$on_error_container: #ffdad6;
$surface_dim: #0d141b;
$surface: #0d141b;
$surface_bright: #333a42;
$surface_container_lowest: #080f16;
$surface_container_low: #151c24;
$surface_container: #192028;
$surface_container_high: #232b32;
$surface_container_highest: #2e353e;
$on_surface: #dce3ee;
$on_surface_variant: #b9c8da;
$outline: #8392a3;
$outline_variant: #3a4857;
$inverse_surface: #dce3ee;
$inverse_on_surface: #2a3139;
$surface_variant: #3a4857;
$background: #0d141b;
$on_background: #dce3ee;
$shadow: #000000;
$scrim: #000000;