$source_color: #0f1917;

$primary: #55dbc7;
$on_primary: #003731;
$primary_container: #005047;
$on_primary_container: #75f8e3;
$inverse_primary: #006b5f;
$primary_fixed: #75f8e3;
$primary_fixed_dim: #55dbc7;
$on_primary_fixed: #00201c;
$on_primary_fixed_variant: #005047;
$secondary: #b1ccc6;
$on_secondary: #1c3530;
$secondary_container: #b1ccc6;
$on_secondary_container: #cde8e1;
$secondary_fixed: #cde8e1;
$secondary_fixed_dim: #b1ccc6;
$on_secondary_fixed: #06201c;
$on_secondary_fixed_variant: #334b47;
$tertiary: #accae5;
$on_tertiary: #143349;
$tertiary_container: #2c4a60;
$on_tertiary_container: #cbe6ff;
$tertiary_fixed: #cbe6ff;
$tertiary_fixed_dim: #accae5;
$on_tertiary_fixed: #001e30;
$on_tertiary_fixed_variant: #2c4a60;
$error: #ffb4ab;
$on_error: #690005;
$error_container: #93000a;
$on_error_container: #ffdad6;
$surface_dim: #131313;
$surface: #131313;
$surface_bright: #393939;
$surface_container_lowest: #0e0e0e;
$surface_container_low: #1b1b1b;
$surface_container: #1f1f1f;
$surface_container_high: #2a2a2a;
$surface_container_highest: #353535;
$on_surface: #e2e2e2;
$on_surface_variant: #c6c6c6;
$outline: #919191;
$outline_variant: #474747;
$inverse_surface: #e2e2e2;
$inverse_on_surface: #303030;
$surface_variant: #474747;
$background: #131313;
$on_background: #e2e2e2;
$shadow: #000000;
$scrim: #000000;