@import 'colors';
$mediumOpacity: 0.85;

*{
    all: unset;
    padding: 0px;
    margin: 0px;
    color: $on_surface;
}


.container{
    border-radius: 1rem;
    padding: 1rem;
}

/*
window:has(menu){

}
*/

// Bar
////////////////////////////////////////////////////////////////////////////
window.bar {
    background-color: rgba($surface, $mediumOpacity);
}
.bar{
    font-family: "System-ui";
    font-size: 16px;
}


// App Launcher
////////////////////////////////////////////////////////////////////////////
.applauncher {
    background-color: rgba($surface, $mediumOpacity);
    padding: 8px;
    border-radius: 1.2rem;
    border-color: rgba(88, 88, 88, 0.42);
    border-width: 1px;
    border-style: solid;
}

.app-item:focus {
    background-color: rgba($outline_variant, 1);
    border-radius: 1rem;
}

.app-item:first-child{
    //background-color: $surface_bright;
}

.app-entry {
    padding: 0.6rem;
    background-color: rgba($outline_variant, 1);
    border-radius: 1rem;
}

// First item in list of applications
.first-item > button:first-child{
    background-color: rgba($outline_variant, 1);
    border-radius: 1rem;
}

// Button
////////////////////////////////////////////////////////////////////////////

button {
    background-color: transparent;
    padding: 0.3rem; // Currently determines bar height
}

button:active {
}

button > * {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

button:hover > * {
    //background-color: $surface_bright;
    background-color: $surface_bright;
}

// Dock
////////////////////////////////////////////////////////////////////////////
.dock-button > box {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.dock-button:hover > box {
    background-color: $surface_bright;
}
.dock-container{
    background-color: rgba($surface, $mediumOpacity);
    border-radius: 32px;
}




// Workspaves
////////////////////////////////////////////////////////////////////////////

// Default inactive
.ws-indicator{
    background-color: dimgray;
    border-radius: 1.2rem;
    margin: 0rem 0.24rem;
    min-width: 1.2rem;
    min-height: 1.2rem;
    transition: min-width 0.3s;
    transition: min-height 0.3s;
}

.ws-inactive{
    min-width: 0.6rem;
    min-height: 0.6rem;
    label{
        font-size: 0rem;
    }
}

.ws-button{
    padding: 0; // Remove default padding from ws buttons
    min-width: 1.8rem;
    label{
        font-size: 0rem;
        color: $surface;
    }
}

// Removes default properties for buttons
.ws-button > * {
    padding: 0rem;
    //border-radius: 0rem;
}

// On hover color
.ws-button:hover > box{
    background-color: $primary;
}
.ws-button:hover > .ws-inactive {
    min-width: 1.2rem;
    min-height: 1.2rem;
    transition: min-width 0.3s;
    transition: min-height 0.3s;
}

.ws-button:hover > .ws-active{
    min-width: 2.4rem;
    min-height: 1.2rem;
}

/* Occupied needs to come before active */
.ws-occupied{
    //background-color: $secondary; //TODO
    background-color: orangered;
    label{
        min-width: 1.2rem;
        min-height: 1.2rem;
        font-size: 0.8rem;
    }
}

.ws-active{
    background-color: $tertiary;
    min-width: 2.4rem;
    min-height: 1.2rem;
    label{
        min-width: 2.4rem;
        min-height: 1.2rem;
        font-size: 0.8rem;
    }
}




// Notifications
////////////////////////////////////////////////////////////////////////////

.notification {
    color: rgb(255, 255, 255);
    background-color: rgba($surface, $mediumOpacity);
    border-radius: 1rem;
    min-width: 12rem;
    min-height: 4rem;
}






// Control Panel
////////////////////////////////////////////////////////////////////////////
.control-panel-container{
    background-color: rgba($surface, $mediumOpacity);
    border-radius: 16px;
    border-color: rgba(88, 88, 88, 0.42);
    border-width: 1px;
    border-style: solid;
}
/*
.control-panel-box{
    //padding: 0.4rem;
}
.control-panel-box > *{
    border-radius: 1rem;
    background-color: rgba($surface_container_lowest, $mediumOpacity);
}
*/
.control-panel-button{
    padding: 0rem; // Disables default button padding
    background-color: rgba($surface_container_lowest, $mediumOpacity);
    border-radius: 1rem;
}


.control-panel-button:hover{
    background-color: $surface_bright;
}

.control-panel-audio-box {
    border-radius: 1rem;
    padding: 0.4rem;
    background-color: rgba($surface_container_lowest, $mediumOpacity);
}


// Battery
////////////////////////////////////////////////////////////////////////////
.battery-bg{
    color: $on_surface;
}

.battery-fg{
    color: rgb(68, 236, 68);
}

.battery-circle{
    background-color: $surface;
    color: lightgreen;
}

// Glyph Icons
////////////////////////////////////////////////////////////////////////////
.icon{
    font-size: 20px;
}

// Common
////////////////////////////////////////////////////////////////////////////
.dim{
    color: rgb(108, 108, 108);
}

.invisible{
    opacity: 0;
}

.control-panel-widget-large{
    padding: 0.4rem;
}

// Volume
////////////////////////////////////////////////////////////////////////////
.volume-bg{
    color: rgb(108, 108, 108);
}

// Sliders
////////////////////////////////////////////////////////////////////////////

/* The background */
.sliders trough{
  background-color: $surface;
  border-radius: 20px;
  /* Accounts for the extension of the highlight */
  padding: 4px 20px; 
}

/* The highligh */
.sliders highlight{
 // min-height: 32px;
  //min-width: 32px;
  border-radius: 20px;
  background-color: $primary;
  /* Forces highlight to extend to match the slider positon  on the ends */
  margin: 0 -14px; 
}

/* The dot */
.sliders slider{
  min-height: 28px;
  min-width: 28px;
  border-radius: 20px;
  background-color: $tertiary;
  border-style: solid;
  border-width: 1px;
  border-color: $tertiary;
}




// System stats
////////////////////////////////////////////////////////////////////////////

.system-stats-circular-progress{
    background-color: $surface;
    color: $tertiary;
    font-size: 4px;
    min-height: 24px;
}


// Lockscreen
.lockscreen {
    background-color: $surface;
}

// Calendar
// Derived from Phocus GTK theme
// Wher docs?
calendar {
  //background: #141414;
}
calendar.button {
  //background: #1c1c1c;
  //color: rgba(255, 255, 255, 0.34);
}
calendar.button:hover {
  color: rgba(213, 25, 25, 0.87);
}
calendar.button:disabled {
  color: rgba(255, 255, 255, 0.06);
}
calendar.header {
  //background: #1c1c1c;
}
calendar.highlight {
  color: rgba(255, 255, 255, 0.34);
}
calendar:selected {
  color: white;
  border-radius: 0.5em;
  background: #7154f2;
}
calendar:indeterminate {
  color: rgba(116, 116, 116, 0.776);
}

.active-button{
    background-color: red;
}


// Weather
.weather{
    //background-color: rgba($surface_container_lowest, $mediumOpacity);
    border-radius: 1rem;
}


// Systray + other context menus?
menu{
    background-color: rgba($surface, $mediumOpacity);
    border-radius: 1rem;
    padding: 0.4rem;
}

menuitem {
    border-radius: 0.4rem;
    padding: 0.4rem;
}

menuitem:hover{
    background-color: $surface_bright;
}