@import 'colors';
$mediumOpacity: 0.65;
$lowOpacity: 0.45;

// Common
////////////////////////////////////////////////////////////////////////////
*{
    all: unset;
    padding: 0px;
    margin: 0px;
    color: $fg;
}

.test{
    color: red;
}

.container{
    border-radius: 1rem;
    background-color: rgba($bg1, $lowOpacity);
}

.toggle-window{
    background-color: rgba($bg0, $mediumOpacity);
    border-radius: 1rem;
    border-color: rgba(64, 64, 64, 0.42);
    border-width: 1px;
    border-style: solid;
    padding: 1rem;
    margin: 1rem;
}

tooltip{
    padding: 1.2rem;
    border-radius: 1rem;
    background-color: rgba($bg0, $lowOpacity);
}

separator{
    background-color: $fg; 
    border-radius: 1rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    margin-right: 0.6rem;
    min-width: 0.05rem
}

/*
window:has(menu){

}
*/

.dim{
    color: rgb(108, 108, 108);
}

.invisible{
    opacity: 0;
}


// Bar
////////////////////////////////////////////////////////////////////////////
.bar-window{
    background-color: rgba($bg0, $mediumOpacity);
    font-family: "System-ui";
    font-size: 16px;
}


// App Launcher
////////////////////////////////////////////////////////////////////////////
.applauncher {
    background-color: rgba($bg0, $mediumOpacity);
    padding: 8px;
    border-radius: 1.2rem;
    border-color: rgba(88, 88, 88, 0.42);
    border-width: 1px;
    border-style: solid;
}


// App launcher button
.app-button{
    padding: 0.4rem;
    border-radius: 1rem;
    margin-right: 0.8rem;
}
.app-button:hover {
    background-color: $accent1;
}
.app-button:focus {
    background-color: $accent1;
}

// Search entry
.app-entry {
    padding: 0.6rem;
    background-color: rgba($bg1, $lowOpacity);
    border-radius: 1rem;
}

// First item in list of applications
.first-item > button:first-child{
    //background-color: rgba($outline_variant, 1);
    background-color: $accent1;
    border-radius: 1rem;
}


// Buttons
////////////////////////////////////////////////////////////////////////////
/*
button {
    background-color: transparent;
    padding: 0.3rem; // Currently determines bar height
}

button:active {
}

button > * {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

button:hover > * {
    background-color: $surface_bright;
}
*/

// Normal Button
.normal-button {
    background-color: transparent;
    padding: 0.3rem; // Currently determines bar height
}

.normal-button:active {
}

.normal-button > * {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.normal-button:hover > * {
    background-color: $bg1;
}

// Power Button

.power-button > * {
    padding: 0.4rem;
    border-radius: 1rem;
}

.power-button:hover > * {
    background-color: $bg3;
}


// Dock
////////////////////////////////////////////////////////////////////////////
.dock-button > box {
    padding: 0.6rem 0.6rem;
    margin: 0.4rem;
    border-radius: 1rem;
    min-width: 4rem;
    min-height: 4rem;
}
.dock-button:hover > box {
    background-color: $bg3;
}
.dock-container{
    background-color: rgba($bg0, $mediumOpacity);
    //border-radius: 32px;
}
.dock-app-indicator{
    min-width: 0.4rem;
    min-height: 0.4rem;
    border-radius: 1rem;
    margin-right: 0.6rem;
    background-color: rgba(0,0,0,0);
}
.dock-app-indicator-active{
    background-color: $fg;
}


// Workspaces
////////////////////////////////////////////////////////////////////////////

// Default inactive
.ws-indicator{
    background-color: dimgray; //Todo
    border-radius: 1.2rem;
    margin: 0rem 0.24rem;
    min-width: 1.2rem;
    min-height: 1.2rem;
    transition: min-width 0.3s;
    transition: min-height 0.3s;
}

.ws-inactive{
    min-width: 0.6rem;
    min-height: 0.6rem;
    label{
        font-size: 0rem;
    }
}

.ws-button{
    padding: 0; // Remove default padding from ws buttons
    min-width: 1.8rem;
    label{
        font-size: 0rem;
        color: $bg3;
    }
}

// Removes default properties for buttons
.ws-button > * {
    padding: 0rem;
    //border-radius: 0rem;
}

// On hover color
.ws-button:hover > box{
    background-color: $accent3;
    label{
        color: $fg; 
    }
}
.ws-button:hover > .ws-inactive {
    min-width: 1.2rem;
    min-height: 1.2rem;
    transition: min-width 0.3s;
    transition: min-height 0.3s;
}

.ws-button:hover > .ws-active{
    min-width: 2.4rem;
    min-height: 1.2rem;
}

/* Occupied needs to come before active */
.ws-occupied{
    background-color: $accent1;
    label{
        min-width: 1.2rem;
        min-height: 1.2rem;
        font-size: 0.8rem;
        color: $fg;
    }
}

.ws-active{
    background-color: $accent3;
    min-width: 2.4rem;
    min-height: 1.2rem;
    label{
        min-width: 2.4rem;
        min-height: 1.2rem;
        font-size: 0.8rem;
        color: $bg0;
    }
}




// Notifications
////////////////////////////////////////////////////////////////////////////
.notifications {
  margin: 1rem;
}

.notification {
    color: rgb(255, 255, 255);
    background-color: rgba($bg0, $mediumOpacity);
    border-radius: 1rem;
    min-width: 16rem;
    min-height: 4rem;
    padding: 1rem;
}






// Control Panel
////////////////////////////////////////////////////////////////////////////
.control-panel-button{
    //padding: 0rem; // Disables default button padding
    background-color: rgba($bg1, $lowOpacity);
    border-radius: 1rem;
    margin: 0.2rem;
}

.control-panel-button:hover{
    background-color: $accent3;
}


// This is used to provide padding for content within a control panel button
.control-panel-button-content{
    padding: 0.4rem;
}

.control-panel-audio-box {
    border-radius: 1rem;
    padding: 0.4rem;
    margin: 0.2rem;
    background-color: rgba($bg1, $lowOpacity);
}

.control-panel-widget-large{
    padding: 0.4rem;
    background-color: rgba($bg0, $lowOpacity);
    border-radius: 1rem;
    margin: 0.2rem;
}

// Battery
////////////////////////////////////////////////////////////////////////////
.battery-bg{
    color: $fg;
}

.battery-fg{
    color: rgb(68, 236, 68);
}

.battery-circle{
    background-color: $bg1;
    color: lightgreen;
}

// Glyph Icons
////////////////////////////////////////////////////////////////////////////
.icon{
    font-size: 20px;
    //color: rgb(83, 18, 18);
    color: $fg;
}


// Sliders
////////////////////////////////////////////////////////////////////////////

/* The background */
.sliders trough{
  background-color: $bg1;
  border-radius: 20px;
  /* Accounts for the extension of the highlight */
  padding: 4px 20px; 
}

.sliders trough:hover > slider{
  background-color: $bg3;
}

/* The highligh */
.sliders highlight{
 // min-height: 32px;
  //min-width: 32px;
  border-radius: 20px;
  background-color: $accent1;
  /* Forces highlight to extend to match the slider positon  on the ends */
  margin: 0 -14px; 
}

/* The dot */
.sliders slider{
  min-height: 28px;
  min-width: 28px;
  border-radius: 20px;
  background-color: $accent3;
  border-style: solid;
  border-width: 0px;
  border-color: $accent3;

  box-shadow: 0px 0px 4px $bg0;
}

.sliders slider:hover{
  background-color: $bg2;
}




// System stats
////////////////////////////////////////////////////////////////////////////

.system-stats-circular-progress{
    background-color: $bg0;
    color: $accent3;
    font-size: 4px;
    min-height: 24px;
}


// Lockscreen
////////////////////////////////////////////////////////////////////////////
.lockscreen {
    background-color: $bg1;
}

// Calendar
////////////////////////////////////////////////////////////////////////////
// Derived from Phocus GTK theme
// Wher docs?
calendar {
  //background: #141414;
}
calendar.button {
  //background: #1c1c1c;
  //color: rgba(255, 255, 255, 0.34);
}
calendar.button:hover {
  color: rgba(213, 25, 25, 0.87);
}
calendar.button:disabled {
  color: rgba(255, 255, 255, 0.06);
}
calendar.header {
  //background: #1c1c1c;
}
calendar.highlight {
  color: rgba(255, 255, 255, 0.34);
}
calendar:selected {
  color: white;
  border-radius: 0.5em;
  background: #7154f2;
}
calendar:indeterminate {
  color: rgba(116, 116, 116, 0.776);
}
calendar.day-number.button{
    color: red;
}

.active-button{
    background-color: red;
}



// Weather
////////////////////////////////////////////////////////////////////////////
.weather{
    //background-color: rgba($bg0, $mediumOpacity);
    //border-radius: 1rem;
}


// Systray + other context menus?
////////////////////////////////////////////////////////////////////////////
menu {
    background-color: rgba($bg0, $mediumOpacity);
    border-radius: 1rem;
    padding: 0.4rem;
}

menuitem {
    border-radius: 0.4rem;
    padding: 0.4rem;
}

menuitem:hover{
    background-color: $bg3;
}


// Scrollbars
////////////////////////////////////////////////////////////////////////////
scrollbar {
    min-width: 4px;
    margin: 0px;
}

scrollbar.overlay-indicator{
    background-color: black;
    border-radius: 1rem;
}

scrollbar.vertical slider{
    min-width: 4px;
    border-radius: 1rem;
    background-color: $bg3;
}

// Combobox
////////////////////////////////////////////////////////////////////////////

button.combo {
    background-color: $bg0;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

button.combo:hover {
    background-color: $bg3;
}
