* {
  all: unset;
  padding: 0px;
  margin: 0px;
  color: #e6e1e9; }

.container {
  background-color: #141318;
  border-radius: 1rem;
  padding: 1rem; }

window.bar {
  background-color: #141318; }

.bar {
  font-family: "System-ui";
  font-size: 16px; }

.applauncher {
  background-color: #141318;
  padding: 8px;
  border-radius: 24px; }

.app-item:focus {
  background-color: #3a383e;
  border-radius: 1rem; }

.app-entry {
  padding: 0.6rem;
  background-color: #3a383e;
  border-radius: 1rem; }

.first-item > button:first-child {
  background-color: #3a383e;
  border-radius: 1rem; }

button {
  background-color: transparent;
  padding: 0.3rem; }

button > * {
  padding: 0.5rem 1rem;
  border-radius: 1rem; }

button:hover > * {
  background-color: #3a383e; }

.dock-button > box {
  padding: 0.5rem 1rem;
  border-radius: 1rem; }

.dock-button:hover > box {
  background-color: #3a383e; }

.dock-container {
  background-color: #141318;
  border-radius: 32px; }

.ws-indicator {
  background-color: dimgray;
  border-radius: 1.2rem;
  margin: 0rem 0.24rem;
  min-width: 1.2rem;
  min-height: 1.2rem;
  transition: min-width 0.3s;
  transition: min-height 0.3s; }

.ws-inactive {
  min-width: 0.6rem;
  min-height: 0.6rem; }

.ws-button {
  padding: 0;
  min-width: 1.8rem; }

.ws-button > * {
  padding: 0rem; }

.ws-button:hover > box {
  background-color: #cbbeff; }

.ws-button:hover > .ws-inactive {
  min-width: 1.2rem;
  min-height: 1.2rem;
  transition: min-width 0.3s;
  transition: min-height 0.3s; }

.ws-button:hover > .ws-active {
  min-width: 2.4rem;
  min-height: 1.2rem; }

/* Occupied needs to come before active */
.ws-occupied {
  background-color: #cac3dc; }

.ws-active {
  background-color: #edb8cc;
  min-width: 2.4rem;
  min-height: 1.2rem; }

.notification {
  color: white; }

.control-panel-container {
  background-color: rgba(20, 19, 24, 0.85);
  border-radius: 16px;
  /*min-width: 280px;*/ }

.control-panel-box > * {
  border-radius: 1rem;
  background-color: rgba(58, 56, 62, 0.85); }

.control-panel-button {
  padding: 0rem; }

.control-panel-button > * {
  background-color: rgba(58, 56, 62, 0.85); }

.control-panel-button:hover > * {
  background-color: #cbbeff; }

.top-right {
  margin-left: 0.4rem;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem; }

.top-left {
  margin-left: 0.2rem;
  margin-right: 0.4rem;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem; }

.bottom-right {
  margin-left: 0.4rem;
  margin-right: 0.2rem;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem; }

.bottom-left {
  margin-left: 0.2rem;
  margin-right: 0.4rem;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem; }

.right {
  margin-left: 0.4rem;
  margin-right: 0.2rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem; }

.left {
  margin-left: 0.2rem;
  margin-right: 0.4rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem; }

.top {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem; }

.bottom {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem; }

.noEdge {
  margin: 0.4rem; }

.battery-bg {
  color: #e6e1e9; }

.battery-fg {
  color: #44ec44; }

.battery-circle {
  background-color: #141318;
  color: lightgreen; }

.icon {
  font-size: 20px; }

.dim {
  color: #6c6c6c; }

.invisible {
  opacity: 0; }

.control-panel-widget-large {
  padding: 0.4rem; }

.volume-bg {
  color: #6c6c6c; }

/* The background */
.sliders trough {
  background-color: #141318;
  border-radius: 20px;
  /* Accounts for the extension of the highlight */
  padding: 4px 20px; }

/* The highligh */
.sliders highlight {
  border-radius: 20px;
  background-color: #cbbeff;
  /* Forces highlight to extend to match the slider positon  on the ends */
  margin: 0 -14px; }

/* The dot */
.sliders slider {
  min-height: 28px;
  min-width: 28px;
  border-radius: 20px;
  background-color: #edb8cc;
  border-style: solid;
  border-width: 1px;
  border-color: #edb8cc; }

.system-stats-circular-progress {
  background-color: #141318;
  color: #edb8cc;
  font-size: 4px;
  min-height: 24px; }

.lockscreen {
  background-color: #141318; }

calendar.button:hover {
  color: rgba(213, 25, 25, 0.87); }

calendar.button:disabled {
  color: rgba(255, 255, 255, 0.06); }

calendar.highlight {
  color: rgba(255, 255, 255, 0.34); }

calendar:selected {
  color: white;
  border-radius: 0.5em;
  background: #7154f2; }

calendar:indeterminate {
  color: rgba(116, 116, 116, 0.776); }
