* {
  all: unset;
  padding: 0px;
  margin: 0px;
  color: #e2e2e2; }

.container {
  border-radius: 1rem;
  padding: 1rem; }

/*
window:has(menu){

}
*/
window.bar {
  background-color: rgba(19, 19, 19, 0.65); }

.bar {
  font-family: "System-ui";
  font-size: 16px; }

.applauncher {
  background-color: rgba(19, 19, 19, 0.65);
  padding: 8px;
  border-radius: 1.2rem;
  border-color: rgba(88, 88, 88, 0.42);
  border-width: 1px;
  border-style: solid; }

.app-item:focus {
  background-color: #474747;
  border-radius: 1rem; }

.app-entry {
  padding: 0.6rem;
  background-color: black;
  border-radius: 1rem; }

.first-item > button:first-child {
  background-color: #474747;
  border-radius: 1rem; }

button {
  background-color: transparent;
  padding: 0.3rem; }

button > * {
  padding: 0.5rem 1rem;
  border-radius: 1rem; }

button:hover > * {
  background-color: #393939; }

.dock-button > box {
  padding: 0.4rem 0.4rem;
  border-radius: 1rem;
  min-width: 4rem;
  min-height: 4rem; }

.dock-button:hover > box {
  background-color: #393939; }

.dock-container {
  background-color: rgba(19, 19, 19, 0.65);
  border-radius: 32px; }

.ws-indicator {
  background-color: dimgray;
  border-radius: 1.2rem;
  margin: 0rem 0.24rem;
  min-width: 1.2rem;
  min-height: 1.2rem;
  transition: min-width 0.3s;
  transition: min-height 0.3s; }

.ws-inactive {
  min-width: 0.6rem;
  min-height: 0.6rem; }
  .ws-inactive label {
    font-size: 0rem; }

.ws-button {
  padding: 0;
  min-width: 1.8rem; }
  .ws-button label {
    font-size: 0rem;
    color: #131313; }

.ws-button > * {
  padding: 0rem; }

.ws-button:hover > box {
  background-color: #55dbc7; }

.ws-button:hover > .ws-inactive {
  min-width: 1.2rem;
  min-height: 1.2rem;
  transition: min-width 0.3s;
  transition: min-height 0.3s; }

.ws-button:hover > .ws-active {
  min-width: 2.4rem;
  min-height: 1.2rem; }

/* Occupied needs to come before active */
.ws-occupied {
  background-color: orangered; }
  .ws-occupied label {
    min-width: 1.2rem;
    min-height: 1.2rem;
    font-size: 0.8rem; }

.ws-active {
  background-color: #accae5;
  min-width: 2.4rem;
  min-height: 1.2rem; }
  .ws-active label {
    min-width: 2.4rem;
    min-height: 1.2rem;
    font-size: 0.8rem; }

.notifications {
  margin: 1rem; }

.notification {
  color: white;
  background-color: rgba(19, 19, 19, 0.65);
  border-radius: 1rem;
  min-width: 16rem;
  min-height: 4rem;
  padding: 1rem; }

.control-panel-container {
  background-color: rgba(19, 19, 19, 0.65);
  border-radius: 16px;
  border-color: rgba(88, 88, 88, 0.42);
  border-width: 1px;
  border-style: solid; }

/*
.control-panel-box{
    //padding: 0.4rem;
}
.control-panel-box > *{
    border-radius: 1rem;
    background-color: rgba($surface_container_lowest, $mediumOpacity);
}
*/
.control-panel-button {
  padding: 0rem;
  background-color: rgba(14, 14, 14, 0.85);
  border-radius: 1rem;
  margin: 0.2rem; }

.control-panel-button:hover {
  background-color: #393939; }

.control-panel-audio-box {
  border-radius: 1rem;
  padding: 0.4rem;
  margin: 0.2rem;
  background-color: rgba(14, 14, 14, 0.85); }

.battery-bg {
  color: #e2e2e2; }

.battery-fg {
  color: #44ec44; }

.battery-circle {
  background-color: #131313;
  color: lightgreen; }

.icon {
  font-size: 20px; }

.dim {
  color: #6c6c6c; }

.invisible {
  opacity: 0; }

.control-panel-widget-large {
  padding: 0.4rem;
  background-color: rgba(14, 14, 14, 0.85);
  border-radius: 1rem; }

.volume-bg {
  color: #6c6c6c; }

/* The background */
.sliders trough {
  background-color: #131313;
  border-radius: 20px;
  /* Accounts for the extension of the highlight */
  padding: 4px 20px; }

.sliders trough:hover > slider {
  background-color: #e2e2e2; }

/* The highligh */
.sliders highlight {
  border-radius: 20px;
  background-color: #55dbc7;
  /* Forces highlight to extend to match the slider positon  on the ends */
  margin: 0 -14px; }

/* The dot */
.sliders slider {
  min-height: 28px;
  min-width: 28px;
  border-radius: 20px;
  background-color: #accae5;
  border-style: solid;
  border-width: 1px;
  border-color: #accae5; }

.sliders slider:hover {
  background-color: #e2e2e2; }

.system-stats-circular-progress {
  background-color: #131313;
  color: #accae5;
  font-size: 4px;
  min-height: 24px; }

.lockscreen {
  background-color: #131313; }

calendar.button:hover {
  color: rgba(213, 25, 25, 0.87); }

calendar.button:disabled {
  color: rgba(255, 255, 255, 0.06); }

calendar.highlight {
  color: rgba(255, 255, 255, 0.34); }

calendar:selected {
  color: white;
  border-radius: 0.5em;
  background: #7154f2; }

calendar:indeterminate {
  color: rgba(116, 116, 116, 0.776); }

.active-button {
  background-color: red; }

menu {
  background-color: rgba(19, 19, 19, 0.65);
  border-radius: 1rem;
  padding: 0.4rem; }

menuitem {
  border-radius: 0.4rem;
  padding: 0.4rem; }

menuitem:hover {
  background-color: #393939; }
