* {
  all: unset;
  padding: 0px;
  margin: 0px;
  color: #c5dee3; }

window.bar {
  background-color: #0d0c13; }

.applauncher {
  background-color: #0d0c13;
  padding: 8px;
  border-radius: 24px; }

.app-item:focus {
  background-color: #0d0c13;
  border-radius: 1rem; }

.app-entry {
  padding: 0.6rem;
  background-color: #0d0c13;
  border-radius: 1rem; }

button {
  background-color: transparent;
  padding: 0.3rem; }

button > * {
  padding: 0.5rem 1rem;
  border-radius: 1rem; }

button:hover > * {
  background-color: #35343b; }

.dock-button > box {
  padding: 0.5rem 1rem;
  border-radius: 1rem; }

.dock-button:hover > box {
  background-color: #35343b; }

/* Workspaves */
.ws-indicator {
  background-color: dimgray;
  border-radius: 1.2rem;
  margin: 0rem 0.24rem;
  min-width: 1.2rem;
  min-height: 1.2rem;
  transition: min-width 0.3s;
  transition: min-height 0.3s; }

.ws-inactive {
  min-width: 0.6rem;
  min-height: 0.6rem; }

.ws-button {
  padding: 0;
  min-width: 1.8rem; }

.ws-button > * {
  padding: 0rem; }

.ws-button:hover > box {
  background-color: #941aff; }

.ws-button:hover > .ws-inactive {
  min-width: 1.2rem;
  min-height: 1.2rem;
  transition: min-width 0.3s;
  transition: min-height 0.3s; }

.ws-button:hover > .ws-active {
  min-width: 2.4rem;
  min-height: 1.2rem; }

/* Occupied needs to come before active */
.ws-occupied {
  background-color: #ff5b89; }

.ws-active {
  background-color: #ff7194;
  min-width: 2.4rem;
  min-height: 1.2rem; }

.client-title {
  /*color: @theme_selected_bg_color;*/ }

.notification {
  color: white; }

progress,
highlight {
  min-height: 8px; }

* {
  /*all: unset;*/ }

.bar {
  font-family: "System-ui";
  font-size: 16px; }

.dock-container {
  background-color: #0d0c13;
  border-radius: 32px; }

.container {
  background-color: #0d0c13;
  border-radius: 16px;
  /*min-width: 280px;*/
  padding: 16px; }

.control-panel-container {
  background-color: rgba(13, 12, 19, 0.85);
  border-radius: 16px;
  /*min-width: 280px;*/ }

.control-panel-box > * {
  border-radius: 1rem;
  background-color: rgba(53, 52, 59, 0.85); }

.control-panel-button > * {
  background-color: rgba(53, 52, 59, 0.85); }

.control-panel-button:hover > * {
  background-color: #941aff; }

.top-right {
  padding-left: 0.8rem;
  padding-right: 0.4rem;
  padding-top: 0.4rem;
  padding-bottom: 0.8rem; }

.top-left {
  padding-left: 0.4rem;
  padding-right: 0.8rem;
  padding-top: 0.4rem;
  padding-bottom: 0.8rem; }

.bottom-right {
  padding-left: 0.8rem;
  padding-right: 0.4rem;
  padding-top: 0.8rem;
  padding-bottom: 0.4rem; }

.bottom-left {
  padding-left: 0.4rem;
  padding-right: 0.8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.4rem; }

.right {
  padding-left: 0.8rem;
  padding-right: 0.4rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }

.left {
  padding-left: 0.4rem;
  padding-right: 0.8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }

.top {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.4rem;
  padding-bottom: 0.8rem; }

.bottom {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.4rem; }

.noEdge {
  padding: 0.8rem; }

.battery-bg {
  color: #c5dee3; }

.battery-fg {
  color: #44ec44; }

.wifi-fg {
  color: #c5dee3; }

.icon {
  font-size: 20px; }

.dim {
  color: #6c6c6c; }

.invisible {
  opacity: 0; }

/*both of these could be replaced with dim?*/
.wifi-bg {
  color: #6c6c6c; }

.volume-bg {
  color: #6c6c6c; }

/* The background */
.sliders trough {
  background-color: #35343b;
  border-radius: 20px;
  /* Accounts for the extension of the highlight */
  padding: 4px 22px; }

/* The highligh */
.sliders highlight {
  border-radius: 20px;
  background-color: #941aff;
  /* Forces highlight to extend to match the slider positon  on the ends */
  margin: 0 -16px; }

/* The dot */
.sliders slider {
  min-height: 32px;
  min-width: 32px;
  border-radius: 20px;
  background-color: #ff7194;
  border-style: solid;
  border-width: 1px;
  border-color: #ff7194; }

.battery-circle {
  background-color: black;
  color: lightgreen; }

.system-stats-circular-progress {
  background-color: black;
  color: #ff7194;
  font-size: 4px;
  min-height: 24px; }
