* {
  all: unset;
  padding: 0px;
  margin: 0px;
  color: #0F0D0F; }

window.bar {
  background-color: #fef7f0; }

.applauncher {
  background-color: #fef7f0;
  padding: 8px;
  border-radius: 24px; }

.app-item:focus {
  background-color: #fef7f0;
  border-radius: 1rem; }

.app-entry {
  padding: 0.6rem;
  background-color: #fef7f0;
  border-radius: 1rem; }

button {
  background-color: transparent;
  padding: 0.3rem; }

button > * {
  padding: 0.5rem 1rem;
  border-radius: 1rem; }

button:hover > * {
  background-color: #d6cfc8; }

.dock-button > box {
  padding: 0.5rem 1rem;
  border-radius: 1rem; }

.dock-button:hover > box {
  background-color: #d6cfc8; }

/* Workspaves */
.ws-indicator {
  background-color: dimgray;
  border-radius: 1.2rem;
  margin: 0rem 0.24rem;
  min-width: 1.2rem;
  min-height: 1.2rem;
  transition: min-width 0.3s;
  transition: min-height 0.3s; }

.ws-inactive {
  min-width: 0.6rem;
  min-height: 0.6rem; }

.ws-button {
  padding: 0;
  min-width: 1.8rem; }

.ws-button > * {
  padding: 0rem; }

.ws-button:hover > box {
  background-color: #3E6182; }

.ws-button:hover > .ws-inactive {
  min-width: 1.2rem;
  min-height: 1.2rem;
  transition: min-width 0.3s;
  transition: min-height 0.3s; }

.ws-button:hover > .ws-active {
  min-width: 2.4rem;
  min-height: 1.2rem; }

/* Occupied needs to come before active */
.ws-occupied {
  background-color: #677493; }

.ws-active {
  background-color: #8D7A97;
  min-width: 2.4rem;
  min-height: 1.2rem; }

.client-title {
  /*color: @theme_selected_bg_color;*/ }

.notification {
  color: white; }

progress,
highlight {
  min-height: 8px; }

* {
  /*all: unset;*/ }

.bar {
  font-family: "System-ui";
  font-size: 16px; }

.dock-container {
  background-color: #fef7f0;
  border-radius: 32px; }

.container {
  background-color: #fef7f0;
  border-radius: 16px;
  /*min-width: 280px;*/
  padding: 16px; }

.control-panel-container {
  background-color: rgba(254, 247, 240, 0.85);
  border-radius: 16px;
  /*min-width: 280px;*/ }

.control-panel-box > * {
  border-radius: 1rem;
  background-color: rgba(214, 207, 200, 0.85); }

.control-panel-button {
  padding: 0rem; }

.control-panel-button > * {
  background-color: rgba(214, 207, 200, 0.85); }

.control-panel-button:hover > * {
  background-color: #3E6182; }

.top-right {
  margin-left: 0.4rem;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem; }

.top-left {
  margin-left: 0.2rem;
  margin-right: 0.4rem;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem; }

.bottom-right {
  margin-left: 0.4rem;
  margin-right: 0.2rem;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem; }

.bottom-left {
  margin-left: 0.2rem;
  margin-right: 0.4rem;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem; }

.right {
  margin-left: 0.4rem;
  margin-right: 0.2rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem; }

.left {
  margin-left: 0.2rem;
  margin-right: 0.4rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem; }

.top {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem; }

.bottom {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem; }

.noEdge {
  margin: 0.4rem; }

.battery-bg {
  color: #0F0D0F; }

.battery-fg {
  color: #44ec44; }

.wifi-fg {
  color: #0F0D0F; }

.icon {
  font-size: 20px; }

.dim {
  color: #6c6c6c; }

.invisible {
  opacity: 0; }

/*both of these could be replaced with dim?*/
.wifi-bg {
  color: #6c6c6c; }

.volume-bg {
  color: #6c6c6c; }

/* The background */
.sliders trough {
  background-color: #d6cfc8;
  border-radius: 20px;
  /* Accounts for the extension of the highlight */
  padding: 4px 20px; }

/* The highligh */
.sliders highlight {
  border-radius: 20px;
  background-color: #3E6182;
  /* Forces highlight to extend to match the slider positon  on the ends */
  margin: 0 -14px; }

/* The dot */
.sliders slider {
  min-height: 28px;
  min-width: 28px;
  border-radius: 20px;
  background-color: #8D7A97;
  border-style: solid;
  border-width: 1px;
  border-color: #8D7A97; }

.battery-circle {
  background-color: #fef7f0;
  color: lightgreen;
  min-height: 64px; }

.system-stats-circular-progress {
  background-color: #fef7f0;
  color: #8D7A97;
  font-size: 4px;
  min-height: 24px; }
