@import 'colors';
$mediumOpacity: 0.85;

*{
    all: unset;
    padding: 0px;
    margin: 0px;
    color: $fg
}

window.bar {
    background-color: $bg;
}

.applauncher {
    background-color: $bg;
    padding: 8px;
    border-radius: 24px;
}

.app-item:focus {
    background-color: $bg;
    border-radius: 1rem;
}
.app-entry {
    padding: 0.6rem;
    background-color: $bg;
    border-radius: 1rem;
}

button {
    background-color: transparent;
    padding: 0.3rem; // Currently determines bar height
}

button:active {
}

button > * {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

button:hover > * {
    background-color: $bg_alt;
}

// Dock
.dock-button > box {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.dock-button:hover > box {
    background-color: $bg_alt;    
}




/* Workspaves */

// Default inactive
.ws-indicator{
    background-color: dimgray;
    border-radius: 1.2rem;
    margin: 0rem 0.24rem;
    min-width: 1.2rem;
    min-height: 1.2rem;
    transition: min-width 0.3s;
    transition: min-height 0.3s;
}

.ws-inactive{
    min-width: 0.6rem;
    min-height: 0.6rem;
}

.ws-button{
    padding: 0; // Remove default padding from ws buttons
    min-width: 1.8rem;
}

// Removes default properties for buttons
.ws-button > * {
    padding: 0rem;
    //border-radius: 0rem;
}

// On hover color
.ws-button:hover > box{
    background-color: $color1;
}
.ws-button:hover > .ws-inactive {
    min-width: 1.2rem;
    min-height: 1.2rem;
    transition: min-width 0.3s;
    transition: min-height 0.3s;
}

.ws-button:hover > .ws-active{
    min-width: 2.4rem;
    min-height: 1.2rem;
}


/* Occupied needs to come before active */
.ws-occupied{
    background-color: $color2;
}

.ws-active{
    background-color: $color3;
    min-width: 2.4rem;
    min-height: 1.2rem;
}







.client-title {
    /*color: @theme_selected_bg_color;*/
}

.notification {
    color: rgb(255, 255, 255);
}

progress,
highlight {
    min-height: 8px;
}


*{
    /*all: unset;*/
}

.bar{
    font-family: "System-ui";
    font-size: 16px;
}

.bar-container{
}
.dock-container{
    background-color: $bg;
    border-radius: 32px;
}
.container{
    background-color: $bg;
    border-radius: 16px;
    /*min-width: 280px;*/
    padding: 16px;
}


.control-panel-container{
    background-color: rgba($bg, $mediumOpacity);
    border-radius: 16px;
    /*min-width: 280px;*/
    //padding: 0.4rem;
}

.control-panel-box{
    //padding: 0.4rem;
}
.control-panel-box > *{
    border-radius: 1rem;
    background-color: rgba($bg_alt, $mediumOpacity);
}

.control-panel-button{
    //padding: 0.4rem;
}

.control-panel-button > * {
    background-color: rgba($bg_alt, $mediumOpacity);
}
.control-panel-button:hover > * {
    background-color: $color1;
}

// Where control panel buttons/box share and edge with another, apply half the padding
$paddingLarge: 0.8rem;
$paddingBig: 0.8rem;
$paddingSmall: 0.4rem;
.top-right{
    padding-left: $paddingBig;
    padding-right: $paddingSmall;
    padding-top: $paddingSmall;
    padding-bottom: $paddingBig;
}
.top-left{

    padding-left: $paddingSmall;
    padding-right: $paddingBig;
    padding-top: $paddingSmall;
    padding-bottom: $paddingBig;
}
.bottom-right{
    padding-left: $paddingBig;
    padding-right: $paddingSmall;
    padding-top: $paddingBig;
    padding-bottom: $paddingSmall;

}
.bottom-left{
    padding-left: $paddingSmall;
    padding-right: $paddingBig;
    padding-top: $paddingBig;
    padding-bottom: $paddingSmall;

}
.right{
    padding-left: $paddingBig;
    padding-right: $paddingSmall;
    padding-top: $paddingBig;
    padding-bottom: $paddingBig;

}
.left{
    padding-left: $paddingSmall;
    padding-right: $paddingBig;
    padding-top: $paddingBig;
    padding-bottom: $paddingBig;

}
.top{
    padding-left: $paddingBig;
    padding-right: $paddingBig;
    padding-top: $paddingSmall;
    padding-bottom: $paddingBig;

}
.bottom{
    padding-left: $paddingBig;
    padding-right: $paddingBig;
    padding-top: $paddingBig;
    padding-bottom: $paddingSmall;

}
.noEdge{
    padding: $paddingLarge;
}


.battery{
}

.battery-bg{
    color: $fg;
}

.battery-fg{
    color: rgb(68, 236, 68);
}

.wifi-fg{
    color: $fg;
}


.wifi-icon{
}

.icon{
    font-size: 20px;
}

.launcher{
}

.dim{
    color: rgb(108, 108, 108);
}

.invisible{
    opacity: 0;
}

/*both of these could be replaced with dim?*/
.wifi-bg{
    color: rgb(108, 108, 108);
}
.volume-bg{
    color: rgb(108, 108, 108);
}


/* The background */
.sliders trough{
  background-color: $bg_alt;
  border-radius: 20px;
  /* Accounts for the extension of the highlight */
  padding: 4px 22px; 
}

/* The highligh */
.sliders highlight{
 // min-height: 32px;
  //min-width: 32px;
  border-radius: 20px;
  background-color: $color1;
  /* Forces highlight to extend to match the slider positon  on the ends */
  margin: 0 -16px; 
}

/* The dot */
.sliders slider{
  min-height: 32px;
  min-width: 32px;
  border-radius: 20px;
  background-color: $color3;
  border-style: solid;
  border-width: 1px;
  border-color: $color3;
}

.battery-circle{
    background-color: black;
    color: lightgreen;
}

.system-stats-circular-progress{
    background-color: black;
    color: $color3;
    font-size: 4px;
    min-height: 24px;
}