


    $bg0: #08080B;
    $bg1: #39393C;
    $bg2: #6B6B6D;
    $bg3: #9C9C9D;

    $fgDim: #8F8A82;
    $fgAlt: #000000;



$fg: #EFE6D8;

$accent0: #38628B;
$onAccent0: #8B6138;

$accent1: #C6293D;
$onAccent1: #29C6B2;

$accent2: #886D38;
$onAccent2: #385388;

$accent3: #3491A0;
$onAccent3: #A04334;
