


    $bg0: #010001;
    $bg1: #343334;
    $bg2: #676667;
    $bg3: #999999;

    $fgDim: #999891;
    $fgAlt: #000000;



$fg: #FFFDF2;

$accent0: #476091;
$onAccent0: #917847;

$accent1: #E77339;
$onAccent1: #39ADE7;

$accent2: #C69636;
$onAccent2: #3666C6;

$accent3: #CD8459;
$onAccent3: #59A2CD;
