


    $bg0: #020302;
    $bg1: #353535;
    $bg2: #676867;
    $bg3: #9A9A9A;

    $fgDim: #8E9592;
    $fgAlt: #000000;



$fg: #ECF9F4;

$accent0: #679E48;
$onAccent0: #7F489E;

$accent1: #D18C05;
$onAccent1: #054AD1;

$accent2: #A1C842;
$onAccent2: #6942C8;

$accent3: #15E7B4;
$onAccent3: #E71548;
