@import 'colors';
$highOpacity: 0.86;
$mediumOpacity: 0.64;
$lowOpacity: 0.44;

@import 'common';
@import 'sliders';
@import 'workspaces';
@import 'control-panel';
@import 'settings';
@import 'buttons';
@import 'media';
